<!DOCTYPE html>
<html>
<head>
    <title>OSCore Job Submission</title>
</head>
<body>

<h2>Submit Job</h2>

<form method="POST">

    Job Name:
    <input type="text" name="job_name" required><br><br>

    Arrival Time:
    <input type="number" name="arrival_time" required><br><br>

    Priority:
    <input type="number" name="priority" required><br><br>

    CPU Time:
    <input type="number" name="cpu_time" required><br><br>

    Memory Required:
    <input type="number" name="memory_required" required><br><br>

    Printer Required:
    <input type="number" name="printer_required" value="0"><br><br>

    Scanner Required:
    <input type="number" name="scanner_required" value="0"><br><br>

    Modem Required:
    <input type="number" name="modem_required" value="0"><br><br>

    CD Required:
    <input type="number" name="cd_required" value="0"><br><br>

    <button type="submit">Submit Job</button>

</form>

</body>
</html>